
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            main{
                width: 1000px;
                background-color: yellow;
                color: white;
                padding: 30px;
                fount-size: 40px;
            }
        </style>
    </head>
        <body>
            {% for n in clist %}
            <div>{{forloop.counter}} {{n}} </div>
            {% endfor %}

            <br/>
            <table border="1" cellpadding="10">
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                </tr>

                {% for d in student_details %}
                <tr>
                    <td>{{d.Name}}</td>
                    <td>{{d.Phone}}</td>
                </tr>
                {% endfor %}
            </table>
        </body>
</html>
        
